    <div class="col-xs-12 ">
      <%= link_to 'Back', files_path, class: 'btn btn-default pull-right' %>
    </div>

    <div class="col-xs-12">
      <h2>Showing: <%= @file %></h2>
      <div class="clearfix margin-half"></div>
      <p><%= @data %></p>
    </div>